#cluster-map{
    width: 100%; 
    height: 500px;
}

#map{
    width: auto;
    height: 300px;
    margin-bottom: 34px;
}

.all-campgrouds-card{
    width: 25%;
}

@media (max-width: 991px) {
    .all-campgrouds-card{
        width: 100%;
    }
  }